@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Dalcy F. de Andrade, N° 756<br />
    95180-000, Farroupilha-RS<br />
    <abbr title="Telefone">F:</abbr>
    54 9681 6613
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:leo@kosvoski.com.br">leo@Kosvoski.com.br</a><br />    
</address>